---
import type { MarkdownHeading } from "astro";

interface Props {
	headings: MarkdownHeading[];
	title: string;
}

const { headings, title } = Astro.props;
---

<nav class="toc-container">
  <ol>
    <li class="toc-li">
      <a href="#_top" class="active">{title}</a>
    </li>
    {
      headings.map((heading) => (
        <li class="toc-li" data-depth={heading.depth}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))
    }
  </ol>
</nav>

<style>
  .toc-container ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0;
    list-style-type: none;
    position: relative;
  }

  .toc-container ol li a {
    color: #c7c7c7;
    font-size: 0.925rem;
    padding: 0.25rem 0.5rem;
    display: block;
    width: fit-content;
  }

  .toc-container ol li a:hover {
    color: white;
    text-decoration: none;
  }

  .toc-container ol li a.active {
    color: white;
    background: var(--primary);
  }

  .toc-li[data-depth="3"] {
    margin-left: 1rem;
  }

  .toc-li[data-depth="4"] {
    margin-left: 2rem;
  }
</style>
